@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    /*background: url("imagem/1.jpg"); talvez adicionar uma imagem decente*/
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(9,9,121,1) 42%, rgba(0,212,255,1) 100%);
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: rgba(40, 40, 40, 0.4);
}

.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39,39,39, 0.6), transparent);
    z-index: 100;
}

.titulo p{
    color: white;
    font-size: 32px;
    font-weight: 500;
}

.form-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 420px;
    overflow: hidden;
}

.login-container{
    position: absolute;
    left: 4px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

header{
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}


.input-field{
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}

.file-field{
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    height: 45px;
    width: 100%;
    padding: 10px 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}

.input-field:hover, .input-field:focus{
    background: rgba(255, 255, 255, 0.250);
}

.file-field:hover, .file-field:focus{
    background: rgba(255, 255, 255, 0.250);
}

::-webkit-input-placeholder{
    color: #fff;
}

.input-box{
    display: fixed;
    justify-content: center;
}

.input-box i{
    position: relative;
    top: -35px;
    left: 17px;
    color: #fff;
}

.submit{
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.submit:hover{
    background: rgba(255, 255, 255, 0.8);
}
